@font-face {
  font-family: Inter;
  src: url(../font/Inter/Roboto-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: Inter;
  src: url(../font/Inter/Roboto-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: Inter;
  src: url(../font/Inter/Roboto-Regular.ttf);
  font-weight: 400;
}

.card-custom {
  text-align: left;
  box-shadow: 0px 8px 17px rgba(95, 94, 94, 0.4);
  background: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 10px;
  color: gray;
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  height: auto;
  width:min(100%, 250px);
  margin-top: auto;
  height: auto;
  
  
}

.imagenn {
  
  margin-left: auto;
  display: flex;
  width:min(100%,60px) ;
  border-radius: 40px !important;
}
.name {
  margin-top: 30px;
  margin-top: 20px;
}
.conten { 
  margin-top: 30px;
  display: flex;
  margin-left: 5px;
}
.elementor-shortcode{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 50px;
  row-gap: 20px;
}
.elementor-widget-container{
  padding: 0;
}

.elementor-nav-menu--toggle .elementor-menu-toggle.elementor-active+.elementor-nav-menu__container{
  position: fixed;
  z-index: 9;
  right: 0px;
  top: 100px;
}